{% extends "base.html" %}
{% block title %}The L.M.C. - Simulation{% endblock %}

{% block navbar_buttons %}
<a href="/login" type="button" class="btn btn-outline-secondary">Log In or Register</a>
<button href="/simulation" type="button" class="btn btn-outline-secondary" disabled>Proceed to Simulation</button>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <!-- Text Editor -->
        <div class="col-lg-6 vh-100">
            <div class="container mt-4">
             <div class="table-responsive" style="max-height: 80vh; overflow-y: auto;">
                <table class="table table-bordered table-sm">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th scope="col">Line</th>
                            <th scope="col">Label</th>
                            <th scope="col">Opcode</th>
                            <th scope="col">Operand</th>
                        </tr>
                    </thead>
                    <tbody id="textEditor">
                        <!-- Rows will be inserted here by JavaScript (/static/js/text-editor-generator.js) -->
                    </tbody>
                </table>
            </div>
            <button id="assembleButton" class="btn btn-primary w-100 mt-3">Assemble</button>
        </div>
        </div>
        <!-- Console -->
        <div class="col-lg-6 vh-100 bg-light">
            <div class="card bg-dark text-monospace text-white mt-4 w-auto">
                <div class="card-body" id="console">>>></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/text-editor-generator.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/syntax-analyser.js') }}"></script>
{% endblock %}