{% extends "base.html" %}
{% block title %}The L.M.C. - Simulation{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top border-bottom border-dark">
    <div class="container-fluid">
        <!-- Left-aligned items (button group) -->
        <div class="me-auto">
            <a class="navbar-brand display-1" href="/">
                <b>The Little Man Computer</b>
                <span class="badge rounded-pill bg-light text-dark">Logged in!</span>
            </a>
        </div>
        <!-- Right-aligned items (account icon/drop-down) -->
        <div class="ms-auto">
            <!-- Account Dropdown Menu -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ current_user.get_id() }}
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="dropdown-item" onclick=sendCodeToFlaskBackend()>Save Code</a></li>
                  <li><a class="dropdown-item" href="/download-code">Download Saved Code</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
              </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <!-- Text Editor -->
        <div class="col-lg-6 vh-100">
            <div class="container mt-4">
             <div class="table-responsive" style="max-height: 80vh; overflow-y: auto;">
                <table class="table table-bordered table-sm">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th scope="col">Line</th>
                            <th scope="col">Label</th>
                            <th scope="col">Opcode</th>
                            <th scope="col">Operand</th>
                        </tr>
                    </thead>
                    <tbody id="textEditor">
                        <!-- Rows will be inserted here by JavaScript (/static/js/text-editor-generator.js) -->
                    </tbody>
                </table>
            </div>
            <button id="assembleButton" class="btn btn-primary w-100 mt-3">Assemble</button>
        </div>
        </div>
        <!-- Console -->
        <div class="col-lg-6 vh-100 bg-light">
            <div class="card bg-dark text-monospace text-white mt-4 w-auto">
                <div class="card-body" id="console">>>></div>
            </div>
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-danger fade show">
                            {{ message[1] }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/text-editor-generator.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/syntax-analyser.js') }}"></script>
{% endblock %}